<div class="pull-right"><%= link_to 'Refresh Auction', update_info_auction_path, :class => "btn btn-success" %></div>
<h1 align="center">Listing Details</h1>
<br>
<br>
<div class="row-fluid">
  <div class="span4" align="center">
	<div class="vcenter">
	  <div class="canvas" style="vertical-align: middle;" id="ebay_pic">
		<%= render :partial => "ebay_pic" %>
	  </div>
	<br>
	  <% hash = Hash[@auction.picture.map.with_index{|*ki| ki}] %>
	  <ul class="thumbnails">
	    <% @auction.picture.each do |pic| %>
	      <li class="span3">
			<%= link_to image_tag(pic), edit_auction_path(:pic => hash[pic]), :class => "thumbnail", :remote => true %>
	      </li>
	    <% end %>
	  </ul>
	</div>
	<br>
	<br>
	<div align="left">
	  Item number: <%= @auction.item_id %>
	  <br>
	  Auction status: <%= @auction.auction_status %>
	</div>
  </div>

  <div class="span8">
	<h1><u><%= link_to @auction.item[:get_item_response][:item][:title], @auction.item[:get_item_response][:item][:listing_details][:view_item_url], :target => '_blank' %></u></h1>
	<br>
	<%= sanitize(@auction.item[:get_item_response][:item][:description])%>
	<br>
	<br>
	
	<table class="table">
      <thead>
        <tr>
	      <th>Current Price</th>
          <th>Time Left</th>
	      <th>Seller</th>
	      <th>Bid Count</th>
		  <% if @auction.item[:get_item_response][:item][:listing_details][:has_reserve_price] == "true" %>
			<th>Reserve Price</th>
		  <% end %>
        </tr>
      </thead>

      <tbody>
	      <tr>
			<td><%= number_to_currency @auction.item[:get_item_response][:item][:selling_status][:converted_current_price] %></td>
		    <td><%= get_time_remaining @auction %></td>
		    <% seller_user_id = @auction.item[:get_item_response][:item][:seller][:user_id] %>
		    <td><%= link_to seller_user_id, "http://feedback.sandbox.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&userid=" +
			  seller_user_id + "&ftab=AllFeedback&items=25", :target => :_blank %></td>
		    <td><%= @auction.item[:get_item_response][:item][:selling_status][:bid_count] %></td>
			<% if @auction.item[:get_item_response][:item][:listing_details][:has_reserve_price] == "true" %>
			  <td><% @auction.item[:get_item_response][:item][:listing_details][:converted_reserve_price] %></td>
			<% end %>
	      </tr>
      </tbody>
    </table>

  </div>
</div>