<div class="container">  
<div class="row-fluid">
<div class="span12">  
<ul class="nav nav-pills">
  <li class="<%= 'active' if current_user.preferred_status == 'All' %>"><%= link_to 'All',
	auctions_path(:status => "All"), :method => :get, :remote => true %></li>
  <li class="<%= 'active' if current_user.preferred_status == 'Active' %>"><%= link_to 'Active',
	auctions_path(:status => "Active"), :method => :get, :remote => true %></li>
  <li class="<%= 'active' if current_user.preferred_status == 'Won' %>"><%= link_to 'Won',
	auctions_path(:status => "Won"), :method => :get, :remote => true %></li>
  <li class="<%= 'active' if current_user.preferred_status == 'Lost' %>"><%= link_to 'Lost',
	auctions_path(:status => "Lost"), :method => :get, :remote => true %></li>
  <li class="<%= 'active' if current_user.preferred_status == 'Ended' %>"><%= link_to 'Ended',
	auctions_path(:status => "Ended"), :method => :get, :remote => true %></li>
  <li class="<%= 'active' if current_user.preferred_status == 'Deleted' %>"><%= link_to 'Deleted',
	auctions_path(:status => "Deleted"), :method => :get, :remote => true %></li>
  <li class="pull-right">
    <%= form_tag(auctions_path, :method => :get, :remote => true) do |f| %>
      Sort by:
	  <%= select_tag :sort, "<option value='time_asc'>Time: sooner-later</option>
	    <option value='time_desc' #{ check_selected 'time_desc' }>Time: later-sooner</option>
	    <option value='title_asc' #{ check_selected 'title_asc' }>Title: A-Z</option>
	    <option value='title_desc' #{ check_selected 'title_desc' }>Title: Z-A</option>
	    <option value='price_asc' #{ check_selected 'price_asc' }>Current Price: low-high</option>
	    <option value='price_desc' #{ check_selected 'price_desc' }>Current Price: high-low</option>
	    <option value='max_bid_asc' #{ check_selected 'max_bid_asc' }>Max Bid: low-high</option>
	    <option value='max_bid_desc' #{ check_selected 'max_bid_desc' }>Max Bid: high-low</option>".html_safe,
	    :onchange => "$(this.form).submit();",
	    :method => :get %>
	<% end %>
  </li>
</ul>
</div>  
</div>  
</div>


<% if current_user.preferred_status != "Deleted" %>
  <% path = remove_multiple_auctions_path %>
  <% button_title = "Delete Checked Auctions" %>
<% else %>
  <% path = restore_multiple_auctions_path %>
  <% button_title = "Restore Checked Auctions" %>
<% end %>

<%= form_tag path, :method => :post, :data => { :confirm => "Are you sure you want to #{button_title.split(' ')[0].downcase} your checked auctions?", :remote => true } do %>

  <% if @auctions != [] %>
    <table class="table table-striped">
      <thead>
        <tr>
	      <th width="10%">Picture</th>
          <th width="50%">Item</th>
	      <th width="9%">Time Left</th>
	      <th width="9%">Price</th>
          <th width="9%">Max bid</th>
	      <% if params[:status] != "Deleted" %>
	        <th width="3%">Delete</th>
	      <% else %>
	        <th width="3%">Restore</th>
	      <% end %>
        </tr>
      </thead>

      <tbody>
        <% @auctions.each do |auction| %>
	      <tr id="auction-<%= auction.id %>">
            <td class="auction-link" onclick="location.href='<%= edit_auction_path(auction) %>'" style="vertical-align: middle; text-align: center;" >
			  <%= image_tag auction.picture[0] %></td>
		    <td class="auction-link" onclick="location.href='<%= edit_auction_path(auction) %>'">
		    <h3><%= truncate(auction.item[:get_item_response][:item][:title], :length => 55) %></h3>
		    <%= truncate(strip_tags(auction.item[:get_item_response][:item][:description]), :length => 300, :separator => ' ') %>
		    </td>
		    <td class="auction-link" onclick="location.href='<%= edit_auction_path(auction) %>'"><%= get_time_remaining auction %></td>
		    <td class="auction-link" onclick="location.href='<%= edit_auction_path(auction) %>'"><%= number_to_currency auction.item[:get_item_response][:item][:selling_status][:converted_current_price] %></td>
		    <td class="auction-link" onclick="location.href='<%= edit_auction_path(auction) %>'"><%= number_to_currency auction.max_bid %></td>
		    <td class="delete_auction" style="text-align: center;" auction-id="<%= auction.id %>"><%= check_box_tag 'auction_ids[]', auction.id, false %></td>
	      </tr>
	    <% end %>
      </tbody>
    </table>
    <br/>
  <% end %>

    <a data-toggle="modal" href="#new_auction" class="btn btn-primary">Add Auction</a> |
    <button type="submit" class="btn btn-danger" data-remote="true"><%= button_title %></button>

<% end %>