<h1 align="center">Listing Details</h1>
<br>
<br>
<div class="row">
  <div class="span4" align="center">
	<div class="vcenter">
	  <div class="canvas">
		<%= image_tag @auction.picture[@picture_id] %>
	  </div>
	<br>
	  <% hash = Hash[@auction.picture.map.with_index{|*ki| ki}] %>
	  <ul class="thumbnails">
	    <% @auction.picture.each do |pic| %>
	      <li class="span1">
		    <%= link_to image_tag(pic), edit_auction_path(:pic => hash[pic]), :class => "thumbnail" %>
	      </li>
	    <% end %>
	  </ul>
	</div>
	<br>
	<br>
	<div align="left">
	  Item number: <%= @auction.item_id %>
	  <br>
	  Auction status: <%= @auction.auction_status %>
	</div>
  </div>

  <div class="span8">
	<h1><u><%= link_to @auction.item[:get_item_response][:item][:title], @auction.item[:get_item_response][:item][:listing_details][:view_item_url], :target => '_blank' %></u></h1>
	<br>
	<%= sanitize(@auction.item[:get_item_response][:item][:description])%>
	<br>
	<br>
	Current price: <%= number_to_currency @auction.item[:get_item_response][:item][:selling_status][:converted_current_price] %>
	<br>
	Time left: <%= get_time_remaining(@auction) %>
  </div>
</div>