<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>	
	<br>
	<br>
  <% end %>

  <br><br>

  <div class="field">
   	<%= f.label "eBay URL or item number" %><br />
   	<%= f.text_field :item_id %>
  </div>
  <br>
  <div class="field">
   	<%= f.label :max_bid %><br />
   	<%= f.number_field :max_bid %>
  </div>
  <br>
  <div class="field">
   	<%= f.label "Lead time (in seconds from 0 to 3)" %><br />
   	<%= f.number_field :lead_time %>
  </div>
  <br>
  <div class="field">
 	<%= f.label "How would you like to be notified about critical auction updates (ex: being outbid)?" %><br />
 	<%= f.select :user_notification, ["Do not notify", "Call", "Text Message"] %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>	
<% end %>