<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<br>
  <% end %>

<fieldset>
  <legend>New Auction</legend>
	
  <div class="control-group">
    <label class="control-label" for="item_id">eBay URL or item number</label>
    <div class="controls">
  	  <%= f.text_field :item_id %>
    </div> 
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="max_bid">Max bid</label>
    <div class="controls">
  	  <%= f.text_field :max_bid %>
    </div> 
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="lead_time">Lead time (in seconds from 0 to 3)</label>
    <div class="controls">
  	  <%= f.text_field :lead_time %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="select01">How would you like to be notified about critical auction updates (ex: being outbid)?</label>
    <div class="controls">
	  <%= f.select :user_notification, ["Do not notify", "Call", "Text Message"] %>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Save changes</button> |
  <%= link_to 'Cancel', auctions_path, :class => "btn btn-action" %>
<% end %>