		  <div id="new_auction" class="modal hide fade in">
		    <div>
			  <a class="close" data-dismiss="modal">×</a>
		    </div>
			<% auction = Auction.new %>
		  	<%= form_for auction, { :remote => true } do |f| %>
			  <% if not auction.errors.any? %>
				<br/>
			  <% end %>
			  <div class="modal-body">
				<legend>New Auction</legend>
				<br/>
				<div class="control-group">
			  	  <label class="control-label" for="item_id">eBay URL or item number</label>
			  	  <div class="controls">
			  		<%= f.text_field :item_id %>
			  	  </div>
				</div>
			    <br/>
			    <div class="control-group">
			      <label class="control-label" for="max_bid">Max bid</label>
			      <div class="controls">
			  	    <%= f.text_field :max_bid %>
			      </div>
			    </div>
			    <br/>
			    <div class="control-group">
			      <label class="control-label" for="lead_time">Lead time (in seconds from 0 to 3)</label>
			      <div class="controls">
			  	    <%= f.text_field :lead_time %>
			      </div>
			    </div>
			    <br/>
			    <div class="control-group">
			      <label class="control-label" for="select01">
					How would you like to be notified about <br/>critical auction updates (ex: being outbid)?
				  </label>
			      <div class="controls">
				    <%= f.select :user_notification, ["Do not notify", "Call", "Text Message"] %>
			      </div>
			    </div>
		      </div>
		      <div class="modal-footer" style="text-align: left;">
			    <button type="submit" class="btn btn-primary" data-loading-text="Creating...">Create Auction</button> |
				<%= link_to 'Import Auctions', import_auctions_path, :method => :get, :class => "btn btn-success" %></li> |
		        <a href="#" class="btn" data-dismiss="modal">Close</a>
		      </div>
			<% end %>
		  </div>