<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>	
	<br>
	<br>
  <% end %>

  <div class="row">
    <div class="span12">	
	  <h1 align="center">Snipe Options</h1>
	  <br>
	  <br>
  	  <div class="field">
    	<%= f.label :max_bid %><br>
    	<%= f.number_field :max_bid %><br><br>
	  </div>
	  <div class="field">
	   	<%= f.label "Lead time (in seconds from 0 to 3)" %><br>
	   	<%= f.number_field :lead_time %><br><br>
	  </div>
	  <div class="field">
	 	<%= f.label "How would you like to be notified about critical auction updates (ex: being outbid)?" %><br>
	 	<%= f.select :user_notification, ["Do not notify", "Call", "Text Message"] %><br><br>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	  <br>
	  <br>
	  <%= @auction.item[:get_item_response][:timestamp] %>
	  <br>
	  <% if @auction.auction_status != "Deleted" %>
	  	<%= link_to 'Remove Auction', @auction, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %> |
	  <% else %>
		<%= link_to 'Restore Auction', restore_auction_path(:id => @auction.id), method: :post, data: { confirm: 'Are you sure?' }, :class => "btn" %> |
	  <% end %>
	  <%= link_to 'Back', auctions_path, :class => "btn" %>
    </div>
  </div>	
<% end %>