<%= form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>	
	<br/>
	<br/>
  <% end %>

  <div class="row">
    <div class="span12">	
	  <h1 align="center">Snipe Options</h1>
	  <br/>
	  <br/>
	  <div class="control-group">  
	    <label class="control-label" for="max_bid">Max bid</label>  
	    <div class="controls">  
	  	  <%= f.text_field :max_bid %>
	    </div> 
	  </div>
	  <br/>
	  <div class="control-group">  
	    <label class="control-label" for="lead_time">Lead time (in seconds from 0 to 3)</label>  
	    <div class="controls">  
	  	  <%= f.text_field :lead_time %>
	    </div> 
	  </div>
	  <br/>
	  <div class="control-group">  
	    <label class="control-label" for="select01">How would you like to be notified about critical auction updates (ex: being outbid)?</label>  
	    <div class="controls">  
		  <%= f.select :user_notification, ["Do not notify", "Call", "Text Message"] %>
	    </div>  
	  </div>
	  <br/>
	  <button type="submit" class="btn btn-primary">Save Changes</button> |
	
	  <% if @auction.auction_status != "Deleted" %>
	  	<%= link_to 'Remove Auction', @auction, :method => :delete, :data => {
			confirm: 'Are you sure you want to restore this auction?' }, :class => "btn btn-danger" %> |
	  <% else %>
		<%= link_to 'Restore Auction', restore_auction_path(:id => @auction.id), :method => :post, :data => {
			confirm: 'Are you sure you want to restore this auction?' }, :class => "btn" %> |
	  <% end %>
	
	  <%= link_to 'Back', auctions_path, :class => "btn" %>
    </div>
  </div>	
<% end %>