<div class="row">
<div class="span3">
<%= render "edit" %>
</div>

<div class="span9">
<h1><u><%= @auction.item[:get_item_response][:item][:title] %></u></h1>
<br>
<%= sanitize(@auction.item[:get_item_response][:item][:description])%>
<br>
<br>
<%= @auction.max_bid %>
<br>
<br>
</div>
</div>
<br>
<br>
<br>
<br>
<%= link_to 'Remove Auction', @auction, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', auctions_path %>

<br>
<br>