<h1>My Auctions</h1>
<br>

<div class="container">  
<div class="row">  
<div class="span8">  
<ul class="nav nav-pills">  
<li class="<%= 'active' if params[:status] == 'All' || params[:status] == nil %>"><a href="?status=All">All</a> </li>     
<li class="<%= 'active' if params[:status] == 'Active' %>"><a href="?status=Active">Active</a> </li>  
<li class="<%= 'active' if params[:status] == 'Won' %>"><a href="?status=Won">Won</a></li>   
<li class="<%= 'active' if params[:status] == 'Lost' %>"><a href="?status=Lost">Lost</a></li>   
<li class="<%= 'active' if params[:status] == 'Deleted' %>"><a href="?status=Deleted">Deleted</a></li>
<li class="<%= 'active' if params[:status] == 'Ended' %>"><a href="?status=Ended">Ended</a></li> 
</ul>  
</div>  
</div>  
</div>

<table class="table table-striped">
  <thead>
    <tr>
	  <th width="10%">Picture</th>
      <th width="60%">Item</th>
	  <th>Time Left</th>
	  <th>Current price</th>
      <th>Max bid</th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
	  <tr onclick="location.href='<%= edit_auction_path(auction) %>'">
		<td><%= image_tag auction.picture[0], :maxsize => "100x100" %></td>
		<td>
		<h3><%= truncate(auction.item[:get_item_response][:item][:title], :length => 60) %></h3>
		<%= truncate(strip_tags(auction.item[:get_item_response][:item][:description]),
								:length => 300, :separator => ' ') %>
		</td>
		<td><%= get_time_remaining auction %></td>
		<td><%= number_to_currency auction.item[:get_item_response][:item][:selling_status][:current_price]%></td>
		<td><%= number_to_currency auction.max_bid, :locale => auction.item[:get_item_response][:item][:currency] %></td>
		<td><%= link_to 'Remove Auction', auction, :method => :delete, :data => { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>
