<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @auction.item_id %>
</p>

<p>
  <b>Max bid:</b>
  <%= @auction.max_bid %>
</p>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
