  <% if current_user %>
    <div id="edit_account" class="modal hide fade in">
      <div>
        <a class="close" data-dismiss="modal">×</a>
      </div>
      <% user = current_user %>
        <%= form_for user, { :url => users_path, :remote => true } do |f| %>
        <% if not user.errors.any? %>
          <br/>
          <div id="user_error_explanation" style="display: none;"></div>
        <% end %>
        <div class="modal-body">
          <legend>Edit Account</legend>
          <br/>
          <div class="control-group">
            <label class="control-label" for="item_id">Email</label>
               <div class="controls">
              <%= f.text_field :email %>
            </div>
          </div>
          <br/>
          <div class="control-group">
            <label class="control-label" for="item_id">Password (leave blank if you don't want to change it)</label>
            <div class="controls">
              <%= f.password_field :password, :autocomplete => "off" %>
            </div>
          </div>
          <br/>
          <div class="control-group">
            <label class="control-label" for="item_id">Password confirmation</label>
            <div class="controls">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <br/>
          <div class="control-group">
            <label class="control-label" for="item_id"><b>Current password</b> (needed to confirm changes)</label>
               <div class="controls">
              <%= f.password_field :current_password %>
            </div>
          </div>
          <br/>
          <div class="control-group">
            <label class="control-label" for="item_id">Phone number</label>
            <div class="controls">
               <%= f.text_field :phone_number %>
            </div>
          </div>
          <br/>
        </div>
        <div class="modal-footer" style="text-align: left;">
          <button type="submit" class="btn btn-primary">Save Changes</button> |
          <%= link_to "Delete account", registration_path(user), :data => { :confirm => "Are you sure you want to delete your Levion eBay Sniper account?" },
              :method => :delete, :class => "btn btn-danger" %> |
          <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      <% end %>
    </div>
  <% end %>