<legend>Edit Account</legend>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
  <div class="control-group">
    <label class="control-label" for="item_id">Email</label>
    <div class="controls">
	  <%= f.text_field :email %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="item_id">Password (leave blank if you don't want to change it)</label>
    <div class="controls">
 	  <%= f.password_field :password, :autocomplete => "off" %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="item_id">Password confirmation</label>
    <div class="controls">
 	  <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="item_id"><b>Current password</b> (needed to confirm changes)</label>
    <div class="controls">
 	  <%= f.password_field :current_password %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="item_id">Phone number</label>
    <div class="controls">
 	  <%= f.text_field :phone_number %>
    </div>
  </div>
</fieldset>
  <br>
  <button type="submit" class="btn btn-primary">Save changes</button> |
  <%= link_to "Change eBay accounts", user_consent_failed_path + "?user_id=#{@user.id}", :class => "btn btn-inverse" %> |
  <%= link_to "Delete account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete,
 	  :class => "btn btn-danger" %>
<% end %>